@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  ::-webkit-scrollbar-button {
    display: none !important;
  }

  .border-style {
    border: 2px solid #1c8b65; /* Green border */
    box-shadow: 0 3px 15px #1c8b65; /* Green shadow with a bit of offset */
    backdrop-filter: blur(
      20px
    ); /* Increased blur for a more pronounced effect */
  }
  .radio .text-foreground-500{
    @apply !text-white font-semibold;
    
  }
  .radio .text-foreground{
    @apply !text-white font-medium;

  }


  .backnavdrop {
    backdrop-filter: blur(100px);
    perspective: 1000;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
}
